---
title: Open Civic Policy Group
---

.front
  %section.title-section
    .centered-vertically
      .logo
      %h1.title Open Civic Policy Group
      %h2.tagline A Massively Open Online Distributed Think Tank (MooDTT)
      %p.about
        We create tools, compile research, shape policy, and coordinate precise
        actions between organizations to help solve massive complex intertwined
        problems.

      .link= link_to '/about-the-tank', find_article_by_title('Why we\'re here and what we do')
      .link= link_to '/how-to-help', find_article_by_title('Easy Ways to Help')
      .link= link_to '/community', 'https://www.reddit.com/r/ocpgdiscussion'
      -# = link_to '/the-tank-think', blog.articles.first
