---
title: Open Civic Policy Group
---

.front
  %section.title-section
    .centered-vertically
      .logo
      %h1.title Open Civic Policy Group
      %h2.tagline A Massively Open Online Distributed Think Tank (MooDTT)

      = link_to '/about-the-tank', blog.articles.first
      -# = link_to '/the-tank-think', blog.articles.first
